USE [db_rfid_assembly]
GO
/****** Object:  Table [dbo].[tb_assy_api_log]    Script Date: 2026-09-01 11:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_assy_api_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[api_type] [varchar](50) NULL,
	[method] [varchar](10) NULL,
	[url] [varchar](255) NULL,
	[request_params] [varchar](255) NULL,
	[request_body] [varchar](255) NULL,
	[http_status] [int] NULL,
	[status] [varchar](20) NULL,
	[response] [varchar](255) NULL,
	[error_msg] [varchar](255) NULL,
	[response_time_ms] [int] NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__tb_assy___3213E83F5A78AE9B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_assy_api_log] ADD  CONSTRAINT [DF__tb_assy_a__times__34C8D9D1]  DEFAULT (getdate()) FOR [created_at]
GO
