USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_master_assy_status_insert]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Stored_tb_master_assy_status_insert]
    @status       VARCHAR(50),
    @label_status VARCHAR(50),
    @process_id   INT = NULL
AS BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO tb_master_assy_status (status, label_status, process_id)
        VALUES (@status, @label_status, @process_id)
        SELECT 'OK' AS result
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END
GO
