USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_master_assy_status_delete]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 13/08/2026
-- Description:	Delete Status
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_master_assy_status_delete]
	@id int
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRY
	DELETE FROM tb_master_assy_status WHERE id = @id
	SELECT 'OK' AS result
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END
GO
