USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_master_process_insert]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 25/08/2026
-- Description:	insert master process
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_master_process_insert]
    @process_code VARCHAR(10),
    @process_name VARCHAR(50)
AS BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO tb_master_process (process_code, process_name)
        VALUES (@process_code, @process_name)
        SELECT 'OK' AS result
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END

GO
