USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_master_process_update]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 25/08/2026
-- Description:	update master process
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_master_process_update]
    @id           INT,
    @process_code VARCHAR(50),
    @process_name VARCHAR(100)
AS BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE tb_master_process SET
            process_code = @process_code,
            process_name = @process_name
        WHERE id = @id
        SELECT 'OK' AS result
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END

GO
