USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_master_assy_status_update]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Stored_tb_master_assy_status_update]
    @id           INT,
    @status       VARCHAR(50),
    @label_status VARCHAR(50),
    @process_id   INT = NULL
AS BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE tb_master_assy_status SET
            status       = @status,
            label_status = @label_status,
            process_id   = @process_id
        WHERE id = @id
        SELECT 'OK' AS result
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END
GO
