USE [db_rfid_assembly]
GO
/****** Object:  Table [dbo].[tb_assy_login]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_assy_login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [varchar](10) NULL,
	[eng_name] [varchar](100) NULL,
	[eng_surname] [varchar](100) NULL,
	[password] [varchar](50) NULL,
	[position] [varchar](50) NULL,
 CONSTRAINT [PK_tb_assy_login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
