USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_master_assy_status_select]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Stored_tb_master_assy_status_select]
AS BEGIN
    SET NOCOUNT ON;
    SELECT s.id, s.status, s.label_status, s.process_id, p.process_code, p.process_name
    FROM tb_master_assy_status s
    LEFT JOIN tb_master_process p ON p.id = s.process_id
END
GO
