USE [db_rfid_assembly]
GO
/****** Object:  Table [dbo].[tb_master_assy_status]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_master_assy_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](50) NULL,
	[label_status] [varchar](50) NULL,
	[process_id] [int] NULL,
 CONSTRAINT [PK_tb_master_assy_status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_master_assy_status]  WITH CHECK ADD  CONSTRAINT [FK_status_process] FOREIGN KEY([process_id])
REFERENCES [dbo].[tb_master_process] ([id])
GO
ALTER TABLE [dbo].[tb_master_assy_status] CHECK CONSTRAINT [FK_status_process]
GO
