USE [db_rfid_assembly]
GO
/****** Object:  Table [dbo].[tb_assy_tag]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_assy_tag](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tag_id] [varchar](50) NOT NULL,
	[lot_no] [varchar](15) NULL,
	[status] [varchar](20) NULL,
	[registered_at] [datetime] NULL,
	[cleared_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_assy_tag] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[tb_assy_tag] ADD  DEFAULT (getdate()) FOR [registered_at]
GO
