USE [db_rfid_assembly]
GO
/****** Object:  Table [dbo].[tb_assy_lot]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_assy_lot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lot_no] [varchar](15) NOT NULL,
	[wos] [varchar](10) NULL,
	[qty] [int] NULL,
	[tag_id] [varchar](50) NULL,
	[status_id] [int] NULL,
	[location_name] [varchar](100) NULL,
	[machine_no] [varchar](30) NULL,
	[emp_id] [varchar](10) NULL,
	[remark] [varchar](255) NULL,
	[cleared_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__tb_assy___3213E83F6056CE9B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__tb_assy___38CAC25522E72871] UNIQUE NONCLUSTERED 
(
	[lot_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_assy_lot] ADD  CONSTRAINT [DF__tb_assy_l__updat__2A4B4B5E]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tb_assy_lot] ADD  CONSTRAINT [DF__tb_assy_l__creat__2B3F6F97]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tb_assy_lot]  WITH CHECK ADD  CONSTRAINT [FK_assy_lot_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[tb_master_assy_status] ([id])
GO
ALTER TABLE [dbo].[tb_assy_lot] CHECK CONSTRAINT [FK_assy_lot_status]
GO
