USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_master_process_select]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 25/08/2026
-- Description:	แสดง master process ทั้งหมด
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_master_process_select]
AS BEGIN
    SET NOCOUNT ON;
    SELECT id, process_code, process_name FROM tb_master_process
END

GO
