USE [db_rfid_assembly]
GO
/****** Object:  StoredProcedure [dbo].[Stored_tb_master_process_delete]    Script Date: 2026-09-01 11:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nawin
-- Create date: 25/08/2026
-- Description:	delete master process
-- =============================================
CREATE PROCEDURE [dbo].[Stored_tb_master_process_delete]
    @id INT
AS BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DELETE FROM tb_master_process WHERE id = @id
        SELECT 'OK' AS result
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS result
    END CATCH
END
GO
